body {
  height: 100%;
  line-height: 1.5;
  font-family: 'Montserrat';
  font-weight: 300;
  color: black;
  background-color: aquamarine;
}

.cor{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cores{
  margin-top: 10px;
  border: 5px solid black;
}

.header-wrapper{
  background-color: rgb(59, 59, 59);
  color: aliceblue;
  padding: 10px;
}

.header-wrapper
.cores{
  padding: 10px;
  margin: 2px auto;
}

button{
  background-color: #61dbfb;
  padding: 10px;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
  font-size: 18px;
  color: black;
}

img{
  width: 150px;
  border-radius: 100px;
}
